@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --card-bg-1: #FF0000;
    --card-bg-2: #FF2400;
    --card-bg-3: #FF8C00;
    --card-bg-4: #FFA500;
    --card-bg-5: #FFB347;
}

.card {
    position: relative;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -4px;
    z-index: -1;
    background: linear-gradient(
        var(--gradient-angle),
        var(--card-bg-2),
        var(--card-bg-3),
        var(--card-bg-4),
        var(--card-bg-3),
        var(--card-bg-2)
    );
    border-radius: inherit;
    animation: rotation 15s linear infinite;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}